package db

import "errors"

var (
	// ErrNoRows occurs when no records were found
	ErrNoRows = errors.New("no rows")
	// ErrNoRowsAffected occurs when no rows were updated
	ErrNoRowsAffected = errors.New("no rows affected")
	// ErrNotFound when a specific reqcord was not found
	ErrNotFound = errors.New("the record you are attempting to find or update is not found")
    	//ErrNotCreated occurs when the store fails to create a record
    	ErrNotCreated = errors.New("no new rows were created")
)
