package db

import (
	"context"
	"database/sql/driver"
	"testing"

	"github.com/DATA-DOG/go-sqlmock"
	"github.com/google/uuid"
	"github.com/stretchr/testify/assert"

	"github.com/caring/{{tolower .Name}}/pb"
)

func TestNew{{tocamel .CoreObject}}(t *testing.T) {

}

func Test{{tocamel .CoreObject}}_ToProto(t *testing.T) {

}

func Test{{tocamel .CoreObject}}Service_create(t *testing.T) {

}

func Test{{tocamel .CoreObject}}Service_update(t *testing.T) {

}

