package db

var statements = map[string]string{
  // inserts a new row into the {{.dbModel}}s table
  "create-{{.dbModel}}": `
  INSERT INTO {{.dbModel}}s ({{.dbModel}}_id, name)
    values(UUID_TO_BIN(?), ?)
  `,
  // soft deletes a {{.dbModel}} by id
  "delete-{{.dbModel}}": `
  UPDATE
    {{.dbModel}}s
  SET
    deleted_at = NOW()
  WHERE
    {{.dbModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
  // gets a single {{.dbModel}} row by id
  "get-{{.dbModel}}": `
  SELECT
    {{.dbModel}}_id, name
  FROM
    {{.dbModel}}s
  WHERE
    {{.dbModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
  // update a single {{.dbModel}} row by ID
  "update-{{.dbModel}}": `
  UPDATE
    {{.dbModel}}s
  SET
    name = ?
  WHERE
    {{.dbModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
}
