package db

var statements = map[string]string{
  // inserts a new row into the {{.DBModel}}s table
  "create-{{.DBModel}}": `
  INSERT INTO {{.DBModel}}s ({{.DBModel}}_id, name)
    values(UUID_TO_BIN(?), ?)
  `,
  // soft deletes a {{.DBModel}} by id
  "delete-{{.DBModel}}": `
  UPDATE
    {{.DBModel}}s
  SET
    deleted_at = NOW()
  WHERE
    {{.DBModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
  // gets a single {{.DBModel}} row by id
  "get-{{.DBModel}}": `
  SELECT
    {{.DBModel}}_id, name
  FROM
    {{.DBModel}}s
  WHERE
    {{.DBModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
  // update a single {{.DBModel}} row by ID
  "update-{{.DBModel}}": `
  UPDATE
    {{.DBModel}}s
  SET
    name = ?
  WHERE
    {{.DBModel}}_id = UUID_TO_BIN(?)
    AND deleted_at IS NULL
  `,
}
