module "firehose" {
  source = "git@github.com:caring/tf-modules.git//aws/firehose_monitoring{{if .UseReporting}}_reporting{{end}}?ref=v1.9.0"

  service_name        = local.repo_name
  task_role_name      = aws_iam_role.ecs_task_role.name
  firehose_role       = data.terraform_remote_state.logging.outputs.firehose_logging_role
  app_logging_s3_arn  = data.terraform_remote_state.logging.outputs.app_logs_bucket.arn

{{if .UseReporting}}
  snowflake_int_user_role_arn   = local.snowflake_int_role_arn[terraform.workspace]
  snowflake_users_role_arn      = local.snowflake_users_role_arn[terraform.workspace]
  snowpipe_sqs_arn              = local.snowpipe_sqs_arn[terraform.workspace]
{{end}}

  tags                = local.tags
}