module "workspace_context" {
  source = "git@github.com:caring/tf-modules.git//aws/workspace?ref=v1.9.2"
}

provider "aws" {
  region = "us-east-1"
  version = "= 3.22.0"
  assume_role {
    role_arn = module.workspace_context.workspace_iam_roles[terraform.workspace]
  }
}

provider "random" {
  version = "= 3.0.0"
}

provider "template" {
  version = "= 2.2.0"
}

terraform {
  required_version = "= 0.12.29"

  backend "s3" {
    bucket         = "caring-tf-state"
    key            = "services/{{.Name}}/terraform.tfstate"
    region         = "us-east-1"
    encrypt        = true
    dynamodb_table = "caring-tf-state-lock"
  }
}
