resource "aws_ssm_parameter" "dns" {
  name      = "/${local.service_name}/dns"
  type      = "String"
  value     = module.service_dns_record.fqdn
  overwrite = true
  tags      = local.tags
}

resource "aws_ssm_parameter" "port" {
  name      = "/${local.service_name}/port"
  type      = "String"
  value     = local.ecs_task_port
  overwrite = true
  tags      = local.tags
}

data "aws_secretsmanager_secret_version" "github_user" {
  secret_id     = data.terraform_remote_state.secrets.outputs.github_user_string_arn
  version_stage = module.workspace_context.workspace_deploy_env[ terraform.workspace ]
}

data "aws_secretsmanager_secret_version" "github_token" {
  secret_id     = data.terraform_remote_state.secrets.outputs.github_token_string_arn
  version_stage = module.workspace_context.workspace_deploy_env[ terraform.workspace ]
}

{{if .UseDB}}
resource "aws_secretsmanager_secret" "db_migration_src_string" {
  name                    = "${local.service_name}_db_migration_src"
  description             = "The source location for the DB migration scripts"
  recovery_window_in_days = local.secretsmanager_recovery_window[terraform.workspace]
  tags                    = local.tags
}

resource "aws_secretsmanager_secret_version" "db_migration_src_version" {
  secret_id      = aws_secretsmanager_secret.db_migration_src_string.id
  secret_string  = "github://${data.aws_secretsmanager_secret_version.github_user.secret_string}:${data.aws_secretsmanager_secret_version.github_token.secret_string}@caring/${local.repo_name}/internal/db/migrations"
  version_stages = [
    module.workspace_context.workspace_deploy_env[ terraform.workspace ]
  ]
  depends_on     = [
    data.aws_secretsmanager_secret_version.github_user,
    data.aws_secretsmanager_secret_version.github_token
  ]
}
{{end}}
