variable "trace_sample_rate" {
  description = "The sample rate per second to use for trace aggregation"
  type        = map(string)
  default     = {
    caring-dev : "1.0",
    caring-stg : "1.0",
    caring-prod : "1.0"
  }
}

{{if .UseDB}}
variable "rds_instance_class" {
  description = "The EC2 instance type to use for the RDS instance"
  type        = map(string)
  default     = {
    caring-dev : "db.t2.micro",
    caring-stg : "db.t2.micro",
    caring-prod : "db.t2.micro"
  }
}

variable "rds_disk_size" {
  description = "The disk size in GB to use for the RDS instance"
  type        = number
  default     = 20
}
{{end}}
