variable "aws_region" {
  description = "The AWS region to use for this plan."
  type        = string
  default     = "us-east-1"
}

variable "az_count" {
  type    = number
  default = 2
}

variable "log_level" {
  description = "Log level to use for contain based Go applications using Caring's logging package"
  type        = map(string)
  default     = {
    caring-dev : "DEBUG",
    caring-stg : "DEBUG",
    caring-prod : "INFO"
  }
}

variable "log_enable_dev" {
  description = "If set to TRUE, outputs will use Zap's pretty print functionality"
  type        = map(string)
  default     = {
    caring-dev : "FALSE",
    caring-stg : "FALSE",
    caring-prod : "FALSE"
  }
}

variable "log_disable_kinesis" {
  description = "If set to TRUE, containerized application will not log via Kinesis"
  type        = map(string)
  default     = {
    caring-dev : "FALSE",
    caring-stg : "FALSE",
    caring-prod : "FALSE"
  }
}

variable "log_flush_interval" {
  description = "The interval in seconds to flush the log buffer"
  type        = map(string)
  default     = {
    caring-dev : "10",
    caring-stg : "10",
    caring-prod : "10"
  }
}

variable "log_buffer_size" {
  description = "The size in bytes of the log buffer"
  type        = map(string)
  default     = {
    caring-dev : "262144",
    caring-stg : "262144",
    caring-prod : "262144"
  }
}

variable "trace_destination_dns" {
  description = "Destination to send trace spans and other information to"
  type        = map(string)
  default     = {
    caring-dev : "",
    caring-stg : "",
    caring-prod : ""
  }
}

variable "trace_destination_port" {
  description = "TCP port of the trace destination"
  type        = map(string)
  default     = {
    caring-dev : "",
    caring-stg : "",
    caring-prod : ""
  }
}

variable "trace_disable" {
  description = "If set to TRUE, trace aggregation will be disabled."
  type        = map(string)
  default     = {
    caring-dev : "TRUE",
    caring-stg : "TRUE",
    caring-prod : "TRUE"
  }
}

variable "trace_sample_rate" {
  description = "The sample rate per second to use for trace aggregation"
  type        = map(string)
  default     = {
    caring-dev : "1.0",
    caring-stg : "1.0",
    caring-prod : "1.0"
  }
}

{{if .UseDB}}
variable "rds_instance_class" {
  description = "The EC2 instance type to use for the RDS instance"
  type        = map(string)
  default     = {
    caring-dev : "db.t2.micro",
    caring-stg : "db.t2.micro",
    caring-prod : "db.t2.micro"
  }
}

variable "rds_disk_size" {
  description = "The disk size in GB to use for the RDS instance"
  type        = number
  default     = 20
}
{{end}}
