package handlers

import (
  "github.com/caring/go-packages/pkg/errors"
  "google.golang.org/grpc/codes"
)

// this is here as a placeholder file to prevent import
// errors in main, but can be deleted, as you'll want
// to add a handler for each database table

func UnimplementedResponse() (interface{}, error) {
  return nil, errors.WithGrpcStatus(errors.New("endpoint unimplemented"), codes.Unimplemented)
}