syntax = "proto3";
package {{tolower .Name}};

option go_package = "pb";

service {{tocamel .Name}} {}

// #################################
//          Shared Messages
// #################################
message GetIDRequest {
  string id = 1;
}

message LoadKeyRequest {
  repeated string keys = 1;
}
