syntax = "proto3";
package {{tolower .Name}};

option go_package = "pb";

service {{tocamel .Name}}Service {
  rpc Ping (PingRequest) returns (PingResponse);
}

// #################################
//          Ping
// #################################

message PingRequest {
  string data = 1;
}

message PingResponse {
  string data = 1;
}

// #################################
//          Shared Messages
// #################################
message GetIDRequest {
  string id = 1;
}

message LoadKeyRequest {
  repeated string keys = 1;
}
