#################################
#
# Note: This is an EXAMPLE and is not intended for use.
# You should create a copy for your service to run locally
# with all correct values and NOT commit it to your repository.
#
#################################

##########################
#
#  Local Development Only
#
##########################
# The main app listener port on the developers localhost
HOST_PORT=3000
# The DB listener port on the developers localhost
DB_HOST_PORT=3307
# configures the DB root user pwd for local dev
DB_ROOT_PWD=secret

# The logger and any other platform that use AWS SDK under the hood
# auto-magically pull env from a standard credential chain. If you need
# To test them in dev you can use these variables. Otherwise useless
AWS_SECRET_KEY=secret
AWS_ACCESS_KEY=secret
AWS_REGION=us-east-1
AWS_SESSION_TOKEN=token

##########################
#
#         App
#
##########################
SERVICE_NAME={{tolower .Name}}
# The port the app listens on inside the container
PORT=80
# your git app creds so that docker can build the app. Used to build locall and in CI
DOCKER_GIT_CREDENTIALS=https://<github_user_name>:<github_app_token>@github.com

##########################
#
#           DB
#
##########################
DB_HOST={{tolower .Name}}db
DB_PORT=3306
DB_USER={{tolower .Name}}
DB_PWD=caringPW
DB_SCHEMA={{tolower .Name}}
# The location of the migration files. Can by on the file sys or on github. see gomigrate docs
DB_MIGRATIONS_SRC=file:///root/app/internal/db/migrations

##########################
#
#         Logging
#
# See logging docs https://github.com/caring/go-packages/tree/master/pkg/logging
##########################
LOG_NAME={{tolower .Name}}
LOG_LEVEL=DEBUG
LOG_ENABLE_DEV=TRUE
LOG_STREAM_MONITORING={{tolower .Name}}-logging
LOG_STREAM_REPORTING={{tolower .Name}}-reporting
LOG_DISABLE_KINESIS=TRUE

##########################
#
#         Tracing
#
# See tracing docs https://github.com/caring/go-packages/tree/master/pkg/tracing
##########################
TRACE_DESTINATION_DNS=none
TRACE_DESTINATION_PORT=none
TRACE_DISABLE=TRUE
TRACE_SAMPLE_RATE=1.0
