module github.com/caring/{{.Name}}

go 1.14

require (
	github.com/DATA-DOG/go-sqlmock v1.5.0 // indirect
	github.com/caring/go-packages v1.8.0 // indirect
  github.com/golang-migrate/migrate/v4 v4.12.2
  github.com/golang/protobuf v1.4.2
  github.com/soheilhy/cmux v0.1.4
  google.golang.org/grpc v1.33.0
  google.golang.org/protobuf v1.25.0
)
