package graphql

import (
  "log"

  "github.com/caring/go-packages/pkg/logging"
  grpcclient "github.com/caring/{{.Name}}/pkg/client"
)


type {{topascal .Name}}ServiceResolver struct {
  *{{topascal .Name}}Service
}

func New{{topascal .Name}}ServiceResolver(l *logging.Logger) *{{topascal .Name}}ServiceResolver {

  client, err := (&grpcclient.{{topascal .Name}}ServiceClient{}).Init()
  if err != nil {
    log.Println(err.Error())
    l.Error(err.Error())
  }

  svc := &{{topascal .Name}}Service{
    client: client,
  }

  return &{{topascal .Name}}ServiceResolver{svc}
}
