package graphql

import (
  "context"

  "github.com/caring/go-packages/pkg/errors"
  _ "github.com/caring/{{.Name}}/api/pb"
)

// place your generated query resolvers here
// and populate business logic...
// delete this file if you have no query resolvers

// this function is just a placeholder
func (r {{topascal .Name}}ServiceResolver) QueryPlaceholder(ctx context.Context) error {
  return errors.New("Unimplemented")
}
