############################
#
#         API
#
############################

extend type Query {
}

extend type Mutation {
}

############################
#
#      Basic Types
#
############################


############################
#
#     Query Inputs
#
############################


############################
#
#     Mutation Inputs
#
############################


############################
#
#    Payloads 
#    (for complex mutation responses)
#
############################


############################
#
#    Connections and Edges 
#    (for pagination responses)
#
############################