package service

{{$lowerName := tolower .Name}}
{{$pascalName := topascal .Name}}
{{$pascalDBModel := topascal .DBModel}}

import (
  "context"
  "fmt"
  "time"

  _ "google.golang.org/grpc/codes"

  "github.com/caring/go-packages/v2/pkg/logging"
  "github.com/caring/{{$lowerName}}/api/pb"
  "github.com/caring/{{$lowerName}}/internal/handlers"
)

type Service struct {
  pb.Unimplemented{{$pascalName}}ServiceServer
  {{$pascalDBModel}} *handlers.{{$pascalDBModel}}
  Logger   logging.Logging
}

{{if .UseDB}}func (s *Service) Ping(ctx context.Context, in *pb.PingRequest) (*pb.PingResponse, error) {
    s.Logger.Debug(fmt.Sprintf("Received: %v", in.Data))
    resp := "Data: " + in.Data
    ctx, cancel := context.WithTimeout(ctx, 1*time.Second)
    defer cancel()
    return &pb.PingResponse{Data: resp}, nil
}{{end}}

func (s *Service)  Create{{$pascalName}}(ctx context.Context, in *pb.Create{{$pascalName}}Request) (*pb.{{$pascalName}}Response, error) {
  s.Logger.Debug("Create{{$pascalName}}: " + in.String())
	return s.{{$pascalName}}.Create(ctx, in)
}

func (s *Service)  Update{{$pascalName}}(ctx context.Context, in *pb.Update{{$pascalName}}Request) (*pb.{{$pascalName}}Response, error) {
  s.Logger.Debug("Update{{$pascalName}}: " + in.String())
  return s.{{$pascalName}}.Update(ctx, in)
}

func (s *Service)  Delete{{$pascalName}}(ctx context.Context, in *pb.ByUUIDRequest) (*pb.{{$pascalName}}Response, error) {
  s.Logger.Debug("Delete{{$pascalName}}: " + in.String())
  return s.{{$pascalName}}.Delete(ctx, in)
}

func (s *Service)  Get{{$pascalName}}(ctx context.Context, in *pb.ByUUIDRequest) (*pb.{{$pascalName}}Response, error) {
  s.Logger.Debug("Get{{$pascalName}}: " + in.String())
  return s.{{$pascalName}}.Get(ctx, in)
}